<h1>{{ title }}</h1>
<table>
<tr>
<td>Dname</td>
<td>Dnumber</td>
</tr>
{{#each department}}
<tr>
<td>{{Dname}}</td>
<td>{{Dnumber}}</td>
</tr>
{{/each}}
</table>

<table>
<tr>
<td>name</td>
<td>Lnumber</td>
</tr>
{{#each it_lecture}}
<tr>
<td>{{Name}}</td>
<td>{{Lnumber}}</td>
</tr>
{{/each}}
</table>